/* ============================================= */
/* Color variables */
/* ============================================= */

 $color-primary: #58e1c1; //teal
 $color-secondary: #51ddfc; //light blue
 $color-tertiary: #e4757a; //salmon
 $color-quadernary: #927bc1; //light purple
 $color-quinary: #63cc82; //light green
 $color-senary: #fd7856; //light orange

 $color-text: #777; //gray
 $color-btn: #fff; //white

 
//Color key value pairs for .themes.col
$themes: (
    1: #927bc1,
    2: #fd7856,
    3: #deb2ee,
    4: #7ee6fd,
    5: #88d9a0,
    6: #4da2bb,
    7: #ec9fa3,
    8: #fd9f85,
    9: #e4757a,
   10: #63cc82,
   11: #51ddfc,
   12: #80e8d1,
);


//Button transition
$btn-transition: background-color .5s ease-in-out;


//Media query breakpoint
 $brk-med: '(min-width: 768px)';